//----- Variables / Colors

$color-white                : #fff;
$color-black                : #000;
$color-gray                 : #707070;
$color-light-gray           : #dbdbdb;
$color-link-blue            : #0d4eff;
$color-red                  : #ef4226;